.svn/
.vs/
Amkor_Material_Manager/bin/
Amkor_Material_Manager/obj/
*.bak
packages/NetOffice.Core.1.7.4.11/.signature.p7s
packages/NetOffice.Core.1.7.4.11/NetOffice.Core.1.7.4.11.nupkg
packages/NetOffice.Core.1.7.4.11/lib/net20/NetOffice.dll
packages/NetOffice.Core.1.7.4.11/lib/net20/NetOffice.xml
packages/NetOffice.Core.1.7.4.11/lib/net20/OfficeApi.dll
packages/NetOffice.Core.1.7.4.11/lib/net20/OfficeApi.xml
packages/NetOffice.Core.1.7.4.11/lib/net20/VBIDEApi.dll
packages/NetOffice.Core.1.7.4.11/lib/net20/VBIDEApi.xml
packages/NetOffice.Core.1.7.4.11/lib/net30/NetOffice.dll
packages/NetOffice.Core.1.7.4.11/lib/net30/NetOffice.xml
packages/NetOffice.Core.1.7.4.11/lib/net30/OfficeApi.dll
packages/NetOffice.Core.1.7.4.11/lib/net30/OfficeApi.xml
packages/NetOffice.Core.1.7.4.11/lib/net30/VBIDEApi.dll
packages/NetOffice.Core.1.7.4.11/lib/net30/VBIDEApi.xml
packages/NetOffice.Core.1.7.4.11/lib/net35/NetOffice.dll
packages/NetOffice.Core.1.7.4.11/lib/net35/NetOffice.xml
packages/NetOffice.Core.1.7.4.11/lib/net35/OfficeApi.dll
packages/NetOffice.Core.1.7.4.11/lib/net35/OfficeApi.xml
packages/NetOffice.Core.1.7.4.11/lib/net35/VBIDEApi.dll
packages/NetOffice.Core.1.7.4.11/lib/net35/VBIDEApi.xml
packages/NetOffice.Core.1.7.4.11/lib/net40/NetOffice.dll
packages/NetOffice.Core.1.7.4.11/lib/net40/NetOffice.xml
packages/NetOffice.Core.1.7.4.11/lib/net40/OfficeApi.dll
packages/NetOffice.Core.1.7.4.11/lib/net40/OfficeApi.xml
packages/NetOffice.Core.1.7.4.11/lib/net40/VBIDEApi.dll
packages/NetOffice.Core.1.7.4.11/lib/net40/VBIDEApi.xml
packages/NetOffice.Core.1.7.4.11/lib/net45/NetOffice.dll
packages/NetOffice.Core.1.7.4.11/lib/net45/NetOffice.xml
packages/NetOffice.Core.1.7.4.11/lib/net45/OfficeApi.dll
packages/NetOffice.Core.1.7.4.11/lib/net45/OfficeApi.xml
packages/NetOffice.Core.1.7.4.11/lib/net45/VBIDEApi.dll
packages/NetOffice.Core.1.7.4.11/lib/net45/VBIDEApi.xml
packages/NetOffice.Core.1.7.4.11/tools/install.ps1
packages/NetOffice.Excel.1.7.4.11/.signature.p7s
packages/NetOffice.Excel.1.7.4.11/NetOffice.Excel.1.7.4.11.nupkg
packages/NetOffice.Excel.1.7.4.11/lib/net20/ExcelApi.dll
packages/NetOffice.Excel.1.7.4.11/lib/net20/ExcelApi.xml
packages/NetOffice.Excel.1.7.4.11/lib/net30/ExcelApi.dll
packages/NetOffice.Excel.1.7.4.11/lib/net30/ExcelApi.xml
packages/NetOffice.Excel.1.7.4.11/lib/net35/ExcelApi.dll
packages/NetOffice.Excel.1.7.4.11/lib/net35/ExcelApi.xml
packages/NetOffice.Excel.1.7.4.11/lib/net40/ExcelApi.dll
packages/NetOffice.Excel.1.7.4.11/lib/net40/ExcelApi.xml
packages/NetOffice.Excel.1.7.4.11/lib/net45/ExcelApi.dll
packages/NetOffice.Excel.1.7.4.11/lib/net45/ExcelApi.xml
packages/NetOffice.Excel.1.7.4.11/tools/install.ps1
