<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Amkor_Material_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- DB Info -->
    <add key="Lincode" value="AJ54100"/>
    <add key="Group" value="1"/>
    <add key="Startup" value="0"/>
    <add key="SM_Enable" value="FALSE"/>
    <add key="Match_Tab" value="TRUE"/>
    <add key="Number_Pad" value="FALSE"/>
    <add key="LongTimeReelReport" value="FALSE"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Amkor_Material_Manager.Properties.Settings>
      <setting name="DefaultSaftyTime" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="SyncOutExcel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SyncOUtExcelPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LongTimeReelReportMonth" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LongTimeReelReportMail" serializeAs="String">
        <value>true,byeongun.choi@amkor.co.kr;</value>
      </setting>
      <setting name="LongTimeReelReportInterval1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LongTimeReelReportInterval2" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="LongTimeReelReporthead" serializeAs="String">
        <value>안녕하세요.</value>
      </setting>
      <setting name="LongTimeReelReportTail" serializeAs="String">
        <value>감사합니다.</value>
      </setting>
      <setting name="LongTermReelReportPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LongTimeReelReportHour" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="LongTimeReelReportSubject" serializeAs="String">
        <value>WWnn 주 장기보관 Reel Report 입니다.</value>
      </setting>
      <setting name="LongTermReelReportEN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LongTermReelReportExcel" serializeAs="String">
        <value>False</value>
      </setting>
    </Amkor_Material_Manager.Properties.Settings>
  </userSettings>
</configuration>
